body {
  background: #020617;
  color: #e5e7eb;
  font-family: Arial;
  padding: 40px;
  text-align: center;
}

.box {
  max-width: 400px;
  margin: auto;
  background: #0f172a;
  padding: 20px;
  border-radius: 8px;
}

button {
  padding: 10px 16px;
  margin: 10px;
  background: #ef4444;
  color: white;
  border: none;
  cursor: pointer;
}
